body{
    background-color: rgb(236, 106, 106);

   
}
 #profile_image{
     border: 2px dotted black;
 }
 .layout{
     color: rgb(76, 23, 199);
     font-family: cursive;
 }
table tr:first-child{
    background-color: rgba(76, 23, 199, 0.8);
}

.myheader{
  text-align: center;
  color: red;
  /*background-color: blue;*/
 
}

.priheader {
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-image: url(https://papers.co/wallpaper/papers.co-ng41-mountain-snow-dark-blue-winter-sky-star-40-wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 60;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.intro-pic{
  background: url(assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: #000;
}

.profile-pic{
    border-radius: 50%;
}

#About-me{
    background-color: rgb(45, 164, 185);
}

.carousel-item {
  
  height: 500px;
  text-align: center;
}

.iteme{
  background-color:rgb(7, 78, 105);
  /*height: 100px;*/
}

.item2 {
  background-color:rgba(29, 176, 196, 0.678);
  /*height: 100px;*/
}

.item3 {
  background-color:rgb(37, 155, 130);
  /*height: 100px;*/
}

